
body.bg-chili {
    background-color: #f6f2ef;
}

.trix-container {
    padding: 4rem 8rem;;
    background-color: #fff;
    border: none !important;
    border-radius: 0.2em 0.2em 0 0;
    box-shadow: 0 -1px 10px rgba(0,0,0,0.05), 0 1px 4px rgba(0,0,0,0.1), 0 10px 30px #f3ece8;
    min-height: 100vh;
}

.article.card-body {
    flex: 0.8;
}

.trix-container .footer {
    border-top: 1px solid #e5e5e5;
    padding-top: 1.5em;
    padding-left: 1.5em;
    margin: 1.5em 0;
}

textarea[name=article-title] {
    padding: 0 0.5rem 0 0;
    overflow-y: hidden;
}

.input {
    transition: box-shadow 0.15s ease-in-out;
    resize: none;
}

.input--full-width {
    width: 100%;
}

.input--borderless {
    background-color: rgba(255,255,255,0);
    box-shadow: none !important;
    border: none;
    border-radius: 0;
    outline: 0;
}

.input--title {
    line-height: inherit;
}

trix-editor {
    border: none;
    padding-top: 1.5em;
}

trix-editor.medium {
    min-height: 22em;
}

trix-editor.formatted-content {
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
}

.trix-content {
    line-height: 1.5;
}

.chili-article trix-toolbar {
    /* padding: 0.2em 0; */
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    padding-left: 0.25rem;
    margin: 0 -1.25rem;
}

.chili-article .trix-button-group {
    border: none;
    margin: 0;
}

.chili-article .trix-button-group button {
    border: none;
}

.chili-article .trix-button-group .trix-button--icon {
    padding: 0;
    margin: 0.4em;
    height: 1.8em;
    width: 1.8em;
}

.article_attribute {
    padding: 0.4em 0 0.4em 2em;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
}

.formatted-content {
    margin-top: 1.25em !important;
    margin-bottom: 1.25em !important;
}

.article-board {
    padding-left: 6em;
    padding-right: 6em;
}

.article-board header
{
    padding-top: 2em;
    padding-bottom: 0.625em;
    border-bottom: 3px solid #283c46;
    margin-left: -2em;
    margin-right: -2em;
}

.article-board .meta-title {
    text-align: center;
}

.article-board h1 {
    font-size: 1.6em;
}

.article-board__content {
    padding: 0 2rem;
    margin-top: 2em !important;
}

.article-board__row {
    margin-bottom: 1em;
}   

.article-board__overflow {
    max-height: 6em;
    overflow: hidden;
}

.article-board__row .avatar {
    border-radius: 50%;
}

.txt--uncolor {
    color: #877457;
}

.messages-table__what a {
    color: inherit;
    background-color: transparent;
    text-decoration: none;
}

.article-header__new {
    display: flex;
}

.article-header__new h1 {
    flex: 1;
}