{% extends "articles/base.html" %}
{% load static %}
{% block title %}Chili--好用有用的项目管理应用{% endblock %}
{% block content %}
<div class="card trix-container">
  <aside class="btn-group chili-toolbar">
    <button type="button" class="btn dropdown-toggle btn-outline-secondary btn--icon" 
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="edit">修改</a>
      <a class="dropdown-item" href="#">删除</a>
      <a class="dropdown-item" href="#">待更新...</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="#">待更新...</a>
    </div>
  </aside>
  <div class="card-body chili-article">
    <header>
      <h1 class="card-title">
        {{ article.headline }}
      </h1>
      <div class="article_attribute">
        <div>作者： 钟鑫</div>
        <div>发布于 {{ article.pub_date }}</div>
      </div>
    </header>
    
    <section class="trix-content formatted-content">
      {% autoescape off %}
      {{ article.content }}
      {% endautoescape %}
    </section>
  </div>
</div>
{% endblock %}