{% extends "articles/base.html" %}
{% load static %}
{% block title %}Chili--好用有用的项目管理应用{% endblock %}
{% block content %}
<article class="trix-container article-board">
    <header class="article-header__new">
        <label><a class="btn btn-success" href="/articles/new">+写文章</a></label>
        <h1 class="meta-title">文章列表</h1>
        <div class="btn-group chili-article__menu">
          <button type="button" class="btn btn-sm dropdown-toggle btn--type" data-toggle="dropdown" 
              aria-haspopup="true" aria-expanded="false">所有文章</button>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">python</a>
            <a class="dropdown-item" href="#">web前端</a>
            <a class="dropdown-item" href="#">计算机科学</a>
            <a class="dropdown-item" href="#">其他</a>
          </div>
        </div>
    </header>
    <ul class="list-unstyled article-board__content">
      {% for article in all_articles %}
      <li class="media article-board__row article-board__overflow">
        <img src="{% static 'articles/images/avatar-64-x1.png' %}" class="mr-3 avatar" alt="...">
        <div class="media-body messages-table__what">
          <a class="" href="/articles/{{article.id}}">
            <h6 class="mt-0 mb-1">{{ article.headline }}</h6>
            <span class="txt--uncolor">zhongxin • 
              <span>{{ article.pub_date }} </span>
            </span>
            — {{ article.content }}
          </a>
        </div>
      </li>
      {% endfor %}
    </ul>
</article>      
{% endblock %}