{% extends "articles/base.html" %}
{% load static %}
{% block title %}Chili--好用有用的项目管理应用{% endblock %}
{% block content %}
<div class="card trix-container">
  <div class="card-body chili-article">
    <h1 class="card-title">
      <textarea autofocus="autofocus" name="article-title" id="" rows="1" placeholder="输入标题..." 
      class="input input--full-width input--borderless input--title"></textarea>
    </h1>
    <p class="card-text">
      <trix-editor class="trix-content" placeholder="写点什么..."></trix-editor>
    </p>
  </div>
  <footer class="footer">
    <a href="#" class="btn btn-success">发布文章</a>
  </footer>
</div>      
</div>
{% endblock %}