{% extends "articles/base.html" %}
{% load static %}
{% block title %}Chili--好用有用的项目管理应用{% endblock %}
{% block content %}
<form enctype="multipart/form-data" method="post" action="/articles/uploadFile/">
  {% csrf_token %}
  <input type="file" name="upload_file" />
  <br/>
  <input type="submit" value="upload"/>
</form>
<!-- /articles/new/ 对应views.py中的new方法 -->
<form class="card trix-container" action="/articles/new/" method="POST">
  {% csrf_token %}
  <div class="card-body chili-article">
    <h1 class="card-title">
      <textarea autofocus="autofocus" name="article_title" rows="1" placeholder="输入标题..." 
      class="input input--full-width input--borderless input--title"></textarea>
    </h1>
    <p class="card-text">
      <trix-editor class="trix-content" placeholder="写点什么..."></trix-editor>
    </p>
  </div>
  <footer class="footer">
    <input type="submit" class="btn btn-success" value="发布文章" />
  </footer>
</form>      
{% endblock %}